body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
}

video {
  transform: scaleX(-1);
}

canvas {
  /* mirror specific canvases if needed, but R3F canvas usually shouldn't be mirrored unless intended */
}
